
[Unit]
Description=Regenerate Knockd Sequence Periodically
Requires=dynamic-knockd.service

[Timer]
AccuracySec=1sec
OnCalendar=*-*-* *:*:0/30

[Install]
WantedBy=timers.target

